<!DOCTYPE HTML>
<html ng-app="myApp" >
<head>
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-8-i">
    <meta http-equiv="Content-Type" content="text/html; charset=Windows-1255" />
    <title>תמורה</title>
    <!-- Behavioral Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="icon" type="image/png" href="../img/small-logo-01.png">-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
 <link rel="shortcut icon" type="image/x-icon" href="client/src/img/favicon.ico" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    
    <script src="SwitchingBetweenPages.js" ></script>
    <script src="GalleryCtrl.js" ></script>
    <script src="HomeCtrl.js" ></script>
    <script src="FileUploadCtrl.js" ></script>
    <script src="MainPageCtrl.js"></script>
   
    <script src="adminCtrl.js" ></script>
    <script src="AdminStaffCtrl.js" ></script>

    <script src="loginCtrl.js" ></script>

    <script src="updateClassCtrl.js" ></script>

    <script src="ConfirmCoursesCtrl.js" ></script>
    <script src="SwitchClassesCtrl.js" ></script>

    <script src="updateStaffCtrl.js" ></script>
    <script src="CertificateCtrl.js" ></script>

    <script src="updateCourseCtrl.js" ></script>
    <script src="AddCourseCtrl.js" ></script>


    <script src="GradesCtrl.js" ></script>
    <script src="grades.dir.js" ></script>
    <script src="password.dir.js" ></script>


    <script src="classes.dir.js" ></script>
    <script src="students.dir.js" ></script>
    <script src="staff.dir.js" ></script>

    <script src="classesService.js" ></script>
    <script src="gradeService.js" ></script>
    <script src="studentsService.js" ></script>
    <script src="usersService.js" ></script>

    <link href='home.css' rel='stylesheet' type='text/css'>
    <link href='gallery.css' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
</div>

<body ng-controller="MainPageCtrl">
    <button   class="loginButton" ng-style="signOutButton" ng-click="signInOut()">sign out</button>
    <button class="loginButton"  ng-style="signOutButton" ng-click="changePassword()"   >change password</button>
    <button class="loginButton"  ng-style="adminButton" ng-click="admin()">admin</button>
    <div class= "header">    
        <img id="header1" src="header1.gif" alt="TMURA"></img>
        <img id="header2" src="header2.png" alt="TMURA"></img>
        <img id="logo" src="logo.gif" alt="TMURA"></img>
        <ul class="menu" ng-if="!$root.isHomePage">
            <li>
                <a href="">
                    <img id="menu_recep" src="menu_recep.jpg" alt="מתכונים"></img>
                </a>
            </li>
            <li>
                <a href="">
                    <img id="menu_galary" src="menu_galary_curr.jpg" alt="גלריה"></img>
                </a>
            </li>
            <li>
                <a href="">
                    <img id="menu_job" src="menu_job.jpg" alt="חיפוש עודה - נוכחי"></img>
                </a>
            </li>                
            <li>
                <a href="">
                    <img id="menu_kodesh" src="menu_kodesh.jpg" alt="שיעורי קודש"></img>
                </a>
            </li>                
            <li>
                <a href="">
                    <img id="menu_cours" src="menu_cours.jpg" alt="חומר לימוד"></img>
                </a>
            </li>
            <li>
                <a href="">
                    <img id="menu_home" src="menu_home.jpg" alt="בית"></img>
                </a>
            </li>
        </ul>
    </div>
    <div ng-view>
    </div>
</body>



<!-- SCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="jquery.localScroll.min.js"></script>
<script type="text/javascript" src="jquery-animate-css-rotate-scale.js"></script>
<script type="text/javascript" src="fastclick.min.js"></script>
<script type="text/javascript" src="jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="jquery.animate-shadow-min.js"></script>
<script type="text/javascript" src="main.js"></script>



</html>
