.center {
/*     margin: 5%;*/
    margin-top: 10%;
}
.center .years {
    display: inline-flex;
    list-style-type: none;
}
.center .years a img {
    height: 200px;
    width: 200px;  
}
.center .add_pic a img {
    width: 300px;
    height: 177px;
    margin-top: 10px;  
}
.center ul.albums {
    list-style-type: none;
}

.center .albums a img {
    height: 200px;
    width: 300px;  
}
.view button {
    background: none;
    border: none;
}

.view {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 3px #CCCCCC;
    -webkit-border-radius: 5px;
    width: 60%;
    height: 85%;
    left: 32%;
    top: 765px;
    position: absolute;
}

img#right {
    position: absolute;
    right: 0;
    top: 42%;
}
img#left {
    position: absolute;
    left: 0;
    top: 42%;
}

#album1, #album2, #album3 {
    display:block;
}

#album1-2, #album2-2, #album3-2{
    display:none;
}

#first, #second, #third, #forth {
    display:block;
}

#first2, #second2, #third2, #forth2{
    display:none;
}
#footer{
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
