.header {
    display: inline-flex;

}
#header1, #header2 {
   width:50%;
   height:15%;
}
#header2 {
    margin-left: -42px;
}
#header3 {
    width: 43%;
    height: 15%;
    margin-left: -572px;
    margin-top: 65px;
}

#logo {
    width: 60%;
    position: absolute;
    left: 21%;
    top: 300px;
    margin-top: 5%;
}
/*.center {
    display:table-row-group;
    /\* margin: 5%;
     *\/
}*/
.messages {
    width: 33%;
    height: 20%;
}
#msg {
    width: 100%;
}

.center {
    width: 65%;
    display: block;
    margin-left: 17.5%;
    margin-bottom: 8%;
}

.center a img {
    width: 100%;
    margin-bottom: -52%;
}

img#search4job ,a img#notes_tests, #search4job_links {
    margin-left: 50%;
    }
    
.hide {
    display: none;
}
ul.links {
    position: absolute;
    left: 32%;
    margin-top: 3px;
}
a.links {
    font-weight: bold;
    color: #981c26;
}
    
marquee {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    height: 150px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: bold;
    color: #5A595E;
    height: 70px;
    padding-top: 60px;
    padding-bottom: 30px;
    box-shadow: 0px 3px 12px 3px #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

  
}
marquee#updates {
    margin-top: 200px;
}
marquee#bless {
    margin-bottom: 100px;
}
#footer{
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}