<div class="body">
            <link rel="stylesheet" type="text/css" href="gethelp.css"/>

        <div class= "header">   
            <img id="header1" src="header1lessons.gif" alt="TMURA"></img>
            <img id="header2" src="header2.png" alt="TMURA"></img>
            <img id="logo" src="logo.gif" alt="TMURA"></img>
            <img id="menu" src="menu.gif" alt="MENU"></img>
        </div>
        <div class="mail">
            <form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
                <input type="text" id="name" name="name"  placeholder="שם:">
                <input tyדpe="text" id="email" name="mail" placeholder="כתובת מייל:"><br>
                <input type ="text" id="msg" name="msg" placeholder=""><br><br>
                <input type="submit" id="send" value="שלח">
                <input type="reset" id="reset" value="נקה">
            </form>
        </div>  
</div>

		