 <div class= "header">    
    <img id="header1" src="header1.gif" alt="TMURA"/>
    <img id="header2" src="header2.gif" alt="TMURA"/>
    <img id="logo" src="logo.gif" alt="TMURA"/>
    <img id="menu" src="menu.gif" alt="MENU"/>
</div>
<table class="center"> 
    <tr>
        <td  class="add_pic">
            <a href="">
                <img id="add_pic" src="add_pic.gif" />
            </a>
        </td> 
        <td>
            <a href="">
                <img id="forth" src="2.gif" /> 
            </a>
        </td>
        <td>
            <a href="">
                <img id="third" src="1.gif" />
            </a>
        </td>
        <td>
            <a href="">
                <img id="second" src="2.gif"/> 
            </a>'
        </td>
        <td>
            <a href="">
                 <img id="first" src="1.gif" /> 
            </a>
        </td> 
    </tr>
    <tr>
        <td class= "albums">
            <a href="">
                <img id="album1" src="album1.gif"/> 
            </a>
            <a href="">
                <img id="album2" src="album1.gif"/>
            </a>
            <a href="">
                <img id="album3" src="album1.gif"/> 
            </a>
        </td> 
        <td class= "viewpic">
            <img id="pic" src="pic.gif"/>
        </td>
    </tr>
</table>
<div class="footer">
    <img id="footer" src="footer.jpg" alt="links"/>
</div>