<div class="center"> 
    <ul class="years">
        <li  class="add_pic">
            <a href="">
                <img id="add_pic" src="addpic.png" alt="הוספת תמונה"></img>  
            </a>
        </li> 
        <li>
            <a href="">
                <img id="forth" src="year4.png" alt="מחזור ד'"></img> 
                <img id="forth2" src="year4_curr.png" alt="מחזור א'"></img>
            </a>
        </li>
        <li>
            <a href="">
                <img id="third" src="year3.png" alt="מחזור ג'"></img> 
                <img id="third2" src="year3_curr.png" alt="מחזור א'"></img>
            </a>
        </li>
        <li>
            <a href="">
                <img id="second" src="year2.png" alt="מחזור ב'"></img>
                <img id="second2" src="year2_curr.png" alt="מחזור א'"></img>
            </a>
        </li>
        <li>
            <a href="">
                <img id="first" src="year1.png" alt="מחזור א'"></img>
                <img id="first2" src="year1_curr.png" alt="מחזור א'"></img> 
            </a>
        </li> 
    </ul>
    <div class="view">
        <button id="next" type="button">
            <img id="right" src="right.png" alt="תמונה הבאה"></img> 
        </button>
        <button id="prev" type="button">
            <img id="left" src="left.png" alt="תמונה קודמת"></img> 
        </button>     
    </div>
    <ul class= "albums">
        <li>
            <a href="">
                <img id="album1" src="album1.png" alt="אלבום1"></img>
                <img id="album1-2" src="album1_curr.png" alt="אלבום1"></img> 
            </a>
        </li>
        <li>                           
            <a href="">
                <img id="album2" src="album2.png" alt="אלבום2"></img> 
                <img id="album2-2" src="album2_curr.png" alt="אלבום2"></img> 
            </a>
        </li>
        <li>
            <a href="">
                <img id="album3" src="album3.png" alt="אלבום3"></img>
                <img id="album3-2" src="album3_curr.png" alt="אלבום3"></img> 
            </a>
        </li>
    </ul> 
</div>