    <link href='home.css' rel='stylesheet' type='text/css'>

<div class="body">
    
      <div class= "header">    
        <img id="header1" src="header1.png" alt="TMURA"></img>
        <img id="header2" src="header2.png" alt="TMURA"></img>
        <img id="logo" src="logo.gif" alt="TMURA"></img>

    </div>
       <table class="center"> 
           <tr>
               <td>
                 <a href="#/lessons">
                     <div><img id="kodesh" src="kodesh.png" alt="הרצאות ושיעורי קודש"/></div> 
                 </a>
               </td>
               <td>
                 <a href="#/sites/">
                     <div>
                        <img id="site" src="site.png" alt="אתרי תכנות שימושיים"/></div> 
                 </a>
               </td>
               <td>
                    <a href="#/gallery/">
                        <div><img id="galary" src="galary.png" alt="גלריה"/></div> 
                    </a>
               </td>
           </tr>
            <tr>
                <td> 
                    <a href="" style="margin-left: 60%;"> 
                        <img id="search4job" src="search4job.png" alt="חיפוש עבודה"></img> 
                        <div class="search4job_links hide">
                            <img id="search4job_links"  src="search4job_links.png" alt="חיפוש עבודה"></img> 
                            <ul class="links">
                                <li>
                                    <a class="links" href="">קישורים לאתרים</a> 
                                </li>
                                <li>
                                    <a class="links" href="">הצעות עבודה רלוונטיות</a> 
                                </li>
                                <li>
                                    <a class="links" href="">שאל את המומחה</a>  
                                </li>
                            </ul>   
                        </div>
                    </a> 
                    
                </td>
                <td>
                    <a href="" style="margin-left: 50%;">
                        <img id="notes_tests" src="notes_tests.png" alt="סיכומים ומבחנים"></img> 
                    </a>
                </td>
            </tr>
       </table>
        <marquee id="updates" direction="right" behavior="scroll" scrolldelay="10"> Updates</marquee>
        <marquee id="bless" direction="right" behavior="scroll" scrolldelay="10">מזל טוב ל   </marquee>
</div> 
<div class="footer">
    <img id="footer" src="footer.jpg" alt="links"></img>
</div>