<div class="header">
            <img id="header1" src="header1.png" alt="TMURA">
            <img id="header2" src="header2.png" alt="TMURA">
            <img id="logo" src="logo.gif" alt="TMURA">
        </div>
        <br />
        <br />
        <br />
          <br />
          <br />
          <br />
       <table class="center"> 
           <tr>
               <td>
                 <a href="~/Home/lessons">
                     <img id="kodesh" src="kodesh.png" />
                 </a>
               </td>
               <td>
                 <a href="~/Home/site">
                     <img id="site" src="site.png" />
                 </a>
               </td>
               <td>
                    <a href="#/gallery/">
                        <img id="galary" src="galary.png" />
                    </a>
               </td>
           </tr>
            <tr>
                <td>  
                    <a href="~/Home/workssuggest">
                        <img id="search4job" src="search4job.png" /> 
                    </a>
                </td>
                <td>
                    <a href="~/Home/test">
                        <img id="notes_tests" src="notes_tests.png"/> 
                    </a>
                </td>
            </tr>
       </table>
        <marquee id="updates" direction="right" behavior="scroll" scrolldelay="10"> Updates</marquee>
        <marquee id="bless" direction="right" behavior="scroll" scrolldelay="10">מזל לאדר דיין להולדת האחיין מזל טוב ל....   </marquee>

        <div class="footer">
            <img id="footer" src="footer.jpg" alt="links"/>
        </div> 