<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="galary.css"/>
    </head>
    <body>
        <div class= "header">    
            <img id="header1" src="header1lessons.gif" alt="TMURA"></img>
            <img id="header2" src="header2lessons.png" alt="TMURA"></img>
            <img id="logo" src="logo.gif" alt="TMURA"></img>
            <ul class="menu">
                <li>
                    <a href="">
                        <img id="menu_recep" src="menu_recep.jpg" alt="מתכונים"></img>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img id="menu_galary" src="menu_galary_curr.jpg" alt="גלריה"></img>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img id="menu_job" src="menu_job.jpg" alt="חיפוש עודה - נוכחי"></img>
                    </a>
                </li>                
                <li>
                    <a href="">
                        <img id="menu_kodesh" src="menu_kodesh.jpg" alt="שיעורי קודש"></img>
                    </a>
                </li>                
                <li>
                    <a href="">
                        <img id="menu_cours" src="menu_cours.jpg" alt="חומר לימוד"></img>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img id="menu_home" src="menu_home.jpg" alt="בית"></img>
                    </a>
                </li>
            </ul>
        </div>
        <div class="center"> 
		
		<table>
    <td>
                   <table "help">
<td>
<video width="300" height="300"
               id="player_vod"
               type="video/mp4"
               controls preload="none"
               poster="http://storage.hidabroot.org/videos/61076_tumb_730X500.gif"  >
            <source src="http://cdn.gostreaming.tv/AviMizrahi/AviMizrahi_TheBeautyOfModesty.mp4">
			</video>

			<tr>
   <video width="300" height="300"
               id="player_vod"
               type="video/mp4"
               controls preload="none"
               poster="http://storage.hidabroot.org/Graphics/Modules/News/Pics/74367_tumb_730X500.jpg"  
            <source src="http://cdn.gostreaming.tv/5/3/4/1_0ece64ec42364df/5341_ac45e00074b9cc9.mp4"
</video>
</tr>
</td>

</table>
<div class="center2"> 
   <td>        
<video width="1000" height="550"
               id="player_vod"
               type="video/mp4"
               controls preload="none"
               poster="25.png"  
            <source src="http://www.arachim.org/videos/Zvieli-Ben-Zur/chinuch-lmsmat-3.mp4"
</div>   
    </td>
	</table>

	<tr>
		<table>

	<td>
<div><a href="http://www.hidabroot.org/video/209457"><img src="10.png" height="150" width="580"   poster="4.png" /></a>
</div>
	</td>
	<td>
<div class="center2"><a href="http://www.hidabroot.org/video/209456"> <img src="20.png" height="150" width="580"   poster="4.png" />
</div>
	</td>
	
	</table>
	</tr>
	</div>
        <div class="footer">
            <img id="footer" src="footer.jpg" alt="links"></img>
        </div> 
    </body>
</html>