<link href='sites.css' rel='stylesheet' type='text/css'>
<div class="body">
	<div class= "header">    
	    <img id="header1" src="header_sites1.jpg" alt="TMURA"></img>
	    <img id="header2" src="header_sites2.png" alt="TMURA"></img>
	    <img id="logo" src="logo.gif" alt="TMURA"></img>
	    <ul class="menu">
	        <li>
	            <a href="#/gallery">
	                <div>
	                	<img id="menu_galary" src="menu_galary.jpg" alt="גלריה"/>
	                </div>
	            </a>
	        </li>
	        <li>
	            <a href="#/jobs">
	                <img id="menu_job" src="menu_job.jpg" alt="חיפוש עבודה "></img>
	            </a>
	        </li>                
	        <li>
	            <a href="#/kodesh">
	                <img id="menu_kodesh" src="menu_kodesh.jpg" alt="שיעורי קודש"></img>
	            </a>
	        </li>                
	        <li>
	            <a href="#/coures">
	                <img id="menu_cours" src="menu_cours_curr.png" alt="חומר לימוד-נוכחי"></img>
	            </a>
	        </li>
	        <li>
	            <a href="#/">
	                <div><img id="menu_home" src="menu_home.jpg" alt="בית"/></div>
	            </a>
	        </li>
	    </ul>
	</div>
	<img class="title" src="title.png" alt="אתרי תכנות"></img>
	<div class="center">     
	    <ul class="links">
	        <li class="titles"> 
	            <p class="linktitle">קישור לאתר</p>
	            <p class="shortdec">הסבר קצר על האתר </p>
	        </li>      

	        <li> 
	            <a href="http://webmaster.org.il/articles/csharp">C#</a>
	            <p class="shortdec">אתר חינמי(webmaster)</p>
	        </li>

	        <li> 
	            <a href="http://www.cplusplus.com/doc/tutorial/">C++</a>
	            <p class="shortdec">אתר חינמי למידע בשפות שונות </p>
	        </li>
	        <li> 
	            <a href="http://www.w3schools.com/html/default.asp">HTML</a>
	            <p class="shortdec">(cplusplus)אתר חינמי למידע בשפות שונות  </p>
	        </li>
	        <li> 
	            <a href="http://javabook.co.il/wp/%D7%94%D7%9E%D7%94%D7%93%D7%95%D7%A8%D7%94-%D7%94%D7%97%D7%93%D7%A9%D7%94/">JAVA</a>
	            <p class="shortdec">(javabook)אתר חינמי למידע בשפות שונות </p>
	        </li>
	        <li> 
	            <a href="http://www.w3schools.com/js/">JavaScript</a>
	            <p class="shortdec">(w3schools)אתר חינמי למידע בשפות שונות עם הרבה דוגמאות </p>
	        </li>
	        <li> 
	            <a href="http://webmaster.org.il/articles/asp">ASP</a>
	            <p class="shortdec">אתר חינמי למידע בשפות שונות </p>
	        </li>
	        <li> 
	            <a href="https://www.python.org/">Python</a>
	            <p class="shortdec">(python)אתר חינמי למידע בשפות שונות </p>
	        </li>
	    </ul>  
	<!--            <ul class="shortdec">
	        
	        <li>אדר תביאי הסבר בבקשה לC++</li>
	        <li>תהנו</li>
	        <li>תהנו</li>
	        <li>תותיייים</li>
	    </ul>-->
	</div>
	<div class="footer">
	    <img id="footer" src="footer.jpg" alt="links"></img>
	</div> 
</div>